* {
    box-sizing: border-box;
    font-family: 'Secular One';
}

#contenedorRegistroUsuarios {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    height: 800px;
}

#contenedorRegistroUsuarios .menuVertical {
    float: left;
    border: 3px solid #08304e;
    background-color: gray;
    width: 10%;
    height: 800px;
}

.menuVertical button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}


/*Cuando se pasa el botón encima*/

.menuVertical button:hover {
    background-color: #08304e;
    border: 2px solid white;
}


/*Cuando el menu es seleccionado*/

.menuVertical button.active {
    background-color: #08304e;
    border: 2px solid white;
    text-decoration: 2px underline #F0A500;
    ;
}


/*sección del menu elegido*/

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 3px solid #08304e;
    background-color: #ccc;
    width: 85%;
    border-left: none;
    height: 800px;
}


/*Titulos */

h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #082032;
}

h3 {
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}


/*Contenido del tab*/

#agregar-pelicula p {
    margin-left: 10px;
    margin-bottom: 10px;
}

#agregar-sala p {
    margin-left: 10px;
    margin-bottom: 10px;
}

#lista-peliculas p {
    margin-left: 10px;
    margin-bottom: 10px;
}


/*solicitud de datos*/

.form-registroUsuario .input-default select {
    border: none;
    font-size: 15px;
    padding: 3px;
    color: gray;
    width: 80%;
    margin-bottom: 15px;
}

.input-default {
    display: flexbox;
    justify-content: left;
}

.input-default input {
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;
    margin-top: 2px;
}


/**/

.row-registroUsuario {
    /*display: flex;*/
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    padding-left: 5%;
    padding-right: 5%;
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-infoGeneral-registroUsuario {
    -ms-flex: 33%;
    /* IE10 */
    flex: 33%;
}

.col-infoGeneral-imagenUsuario {
    -ms-flex: 10%;
    /* IE10 */
    flex: 20%;
    max-width: 100%;
}

.col-infoGeneral-registroUsuario p:nth-child() {
    align-self: flex-start;
}

.col-infoGeneral-registroUsuario,
.col-registroUsuario {
    padding: 0 16px;
}

.container-registroUsuarios {
    background-color: #ccc;
}

input[type=text] {
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=number] {
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=tel] {
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=date] {
    width: 45%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=url] {
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    padding-bottom: 10px;
    display: block;
}

.form-registroUsuario {
    display: flex;
}

.form-buscar {
    display: inline;
}

.form-buscar input {
    width: 20%;
    margin-bottom: 20px;
}

.info-registroUsuario {
    padding-top: 2px;
}

.imagen-usuario {
    width: 50%;
    height: 30%;
    /*va abarcar todo el espacio del cuadro*/
    object-fit: cover;
    /*propiedad que solo funciona para etiquetas img o video*/
    object-position: center;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media (max-width: 600px) {
    .row-registroPeliculas {
        flex-direction: column-reverse;
    }
}

.input-error {
    /*border-bottom: 2px solid #ef5777;*/
    border: 2px solid #ff0000 !important;
}

.select-error {
    /*border-bottom: 2px solid #ef5777;*/
    border: 2px solid #ff0000 !important;
}


/*Formato de la tabla*/

th {
    font-size: 15px;
    padding: 5px;
    border: 1px solid gray;
    background-color: #F0A500;
}

td {
    font-size: 10px;
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-profile {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.btn-profile:hover {
    cursor: pointer;
}

.btn-edit {
    background-image: url(/img/pencil.PNG);
    margin-right: 1px;
}

.btn-delete {
    background-image: url(/img/trash.PNG);
    margin-left: 1px;
}

tr:nth-child(even) {
    background-color: #8395a7;
}

tr:hover {
    background-color: #08304e;
    color: white;
}

.notas {
    color: #8a8a8a;
    font-size: small;
    margin-bottom: 5px;
}

.col-infoGeneral-registroUsuario .registrarUsuario .btn-general {
    width: 80%;
}

.col-infoGeneral-imagenUsuario .subirImagen .btn-general {
    width: 40%;
    ;
}

.col-infoGeneral-imagenUsuario .imagen-usuario img {
    width: 80%;
    border: solid white 3px;
}

.form-buscar .input-default {
    display: flex;
    justify-items: center;
}

.form-buscar span {
    margin-top: 5px;
}